@model BookStoreManager.Models.CHITTIETDATSACH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITTIETDATSACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SACH.TenSach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SACH.TenSach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATSACH.DiaChiGiaoHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATSACH.DiaChiGiaoHang)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaChiTietDatSach }) |
    @Html.ActionLink("Back to List", "Index")
</p>
